h1{
    text-align: center;
    color: rgb(206, 5, 105);
}
header{
   text-align: center;
    background-color: darkgrey;
}
h2 {
    color: rgb(18, 19, 19);
}
section {
    background-color: darkgrey;
}
footer{
    background-color: rgb(168, 247, 21);
}
nav{
    float:center;
}
